In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
pd.set_option('display.max_columns', None)

In [9]:
df = pd.read_csv('train.csv')
metadata = pd.read_csv('metadata.csv', sep=';')
print(df.shape)
print(metadata.shape)

(3657801, 7)
(33144, 30)

In [18]:
df.head()

,customer_id,account_id,device_type,asset_id,tunein,tuneout,resume
0,0,90627,STATIONARY,18332.0,2021-02-18 22:52:00.0,2021-02-18 23:35:00.0,0
1,0,90627,STATIONARY,24727.0,2021-03-24 23:17:00.0,2021-03-25 00:01:00.0,0
2,1,3387,STB,895.0,2021-03-15 10:05:00.0,2021-03-15 10:23:00.0,0
3,1,3387,STB,895.0,2021-03-15 10:23:00.0,2021-03-15 11:18:00.0,1
4,1,3387,STB,26062.0,2021-03-16 09:24:00.0,2021-03-16 09:44:00.0,0

In [12]:
metadata.head(2)

,asset_id,content_id,title,reduced_title,episode_title,show_type,released_year,country_of_origin,category,keywords,description,reduced_desc,cast_first_name,credits_first_name,run_time_min,audience,made_for_tv,close_caption,sex_rating,violence_rating,language_rating,dialog_rating,fv_rating,pay_per_view,pack_premium_1,pack_premium_2,create_date,modify_date,start_vod_date,end_vod_date
0,15188,0.0,Ep:17 Tiempos Compulsivos,Tiempos_Compul_E17,Episodio 17,Serie,2012.0,AR,Drama,"Trastornos,Médicos,Tragicómica,Telenovela,Enfe...",Esteban recibe una noticia inesperada: va a se...,Esteban recibe una noticia inesperada: va a se...,"Rodrigo De la Serna, Paola Krum, Fernán Mirás,...",Daniel Barone,48.0,General,N,N,N,N,N,N,N,N,N,N,2017-12-01T10:18:15.0Z,2019-01-26T06:37:18.0Z,2017-12-01T00:00:00.0Z,2020-12-01T23:59:59.0Z
1,24940,1.0,7 Cajas,7_Cajas,NaN,Película,2012.0,PY,Suspenso/Acción,"Latinoamérica,Pobreza,Crimen,Pandillas",Víctor trabaja como carretillero. Un día recib...,"Trabajando como carretillero, Víctor recibe un...","Celso Franco, Víctor Sosa, Lali Gonzalez",Juan Carlos Maneglia,105.0,General,N,N,N,N,N,N,N,Y,N,N,2017-12-19T20:58:15.0Z,2019-09-17T19:02:03.0Z,2017-12-15T00:00:00.0Z,2022-12-14T23:59:59.0Z

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657801 entries, 0 to 3657800
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   customer_id  int64
 1   account_id   int64
 2   device_type  object
 3   asset_id     float64
 4   tunein       object
 5   tuneout      object
 6   resume       int64
dtypes: float64(1), int64(3), object(3)
memory usage: 195.3+ MB

In [17]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33144 entries, 0 to 33143
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   asset_id            33144 non-null  int64
 1   content_id          33123 non-null  float64
 2   title               33144 non-null  object
 3   reduced_title       33144 non-null  object
 4   episode_title       28997 non-null  object
 5   show_type           33140 non-null  object
 6   released_year       33144 non-null  float64
 7   country_of_origin   33140 non-null  object
 8   category            33144 non-null  object
 9   keywords            33142 non-null  object
 10  description         33142 non-null  object
 11  reduced_desc        33144 non-null  object
 12  cast_first_name     24412 non-null  object
 13  credits_first_name  20590 non-null  object
 14  run_time_min        33144 non-null  float64
 15  audience            33143 non-null  object
 16  made_for_tv         33144 non-null  object
 17  close_caption       33144 non-null  object
 18  sex_rating          33144 non-null  object
 19  violence_rating     33144 non-null  object
 20  language_rating     33144 non-null  object
 21  dialog_rating       33144 non-null  object
 22  fv_rating           33144 non-null  object
 23  pay_per_view        33144 non-null  object
 24  pack_premium_1      33144 non-null  object
 25  pack_premium_2      33144 non-null  object
 26  create_date         33144 non-null  object
 27  modify_date         33144 non-null  object
 28  start_vod_date      33144 non-null  object
 29  end_vod_date        33144 non-null  object
dtypes: float64(3), int64(1), object(26)
memory usage: 7.6+ MB

In [29]:
def cast_object_to_datetime(df, columns, the_format):
    
    for column in columns:
        
        df[column] = df[column].apply(lambda x: x if x is None else datetime.strptime(x[:-2], the_format))
        
    return df

In [ ]:
df = cast_object_to_datetime(df, ['tunein', 'tuneout'], '%Y-%m-%d %H:%M:%S')

In [4]:
print('hola')
print('hola2')
print('hola3')
print('gato')

hola
hola2
hola3
gato